.git
.gitattributes
.github

Dockerfile
docker-compose.yaml
docker-compose.yml
compose.yaml
.dockerignore

*.md
LICENSE
docs

.yamlignore
.gitignore

.DS_Store

.vscode
.editorconfig
.prettierrc
.vercel

# never part of the build context
.env*

.woodpecker/

*.yaml
*.yml

node_modules/
dist
.nuxt
.output
